<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <meta charset="utf-8">
    <title>Template</title>

    <script src="js/template.js"></script>
    <link rel="stylesheet" type="text/css" href="style/template.css">
  </head>

  <body>

    <button id='add'>Add an item</button>
    <button id='clear-all'>Clear all items</button>

    <div id='container'></div>

    <script>
    App.init();
    </script>

  </body>

</html>
